<div class="center jumbotron">
  <h1>Alpha Blog</h1>
  <p>Be creative, be innovative.</p>
  <%= link_to 'Sign Up Now', "#", class:"btn btn-primary btn-lg btn-xlarge" %>
</div>

<div class="separator">Editor's Choice</div>
<!-- Need to change this according to design -->
<div class="center row">
<div style="padding-left:235px">
  <div class="col-sm-3">
    <div class= "panel panel-default">
      <div class="panel-heading">Editor's Choice 1</div>
       <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="#">Read More</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class= "panel panel-default">
      <div class="panel-heading">Editor's Choice 2</div>
       <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="#">Read More</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class= "panel panel-default">
      <div class="panel-heading">Editor's Choice 3</div>
       <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... <a href="#">Read More</a></p>
      </div>
    </div>
  </div>
  </div>
</div>
