$navbar-default-bg: #660033;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  color: white;
  font-size: large;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
}

#logo:hover{
  color:#fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cover-pg.jpg');
  background-size: cover;
  //height: 450px;
}

.jumbotron h1 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

.jumbotron p {
  text-align: top center;
  color: #fff;
  font-weight: bold;
  letter-spacing: -1px;
}

// .panel-heading-color {
//   background-image: none;
//   background-color: #660033;
// }
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}

.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #aeaeae;
}

.separator::before {
  margin-right: .25em;
}

.separator::after {
  margin-left: .25em;
}

.panel > .heading-custom {
  background-image: none;
  background-color: #660033;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.panel > .heading-custom:hover {
  color: white;
}

.btn-xlarge {
  background-color: #660033;
  border-color: #660033;
}

.btn-xlarge:hover {
  background-color: #800040;
}

.acticle-desc {
  //border-top: 1px solid #aeaeae;
  padding-top: 5px;
}

.article-actions {
  border-top: 1px solid #aeaeae;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: left;
  padding-left: 5px;
}

.description {
  margin-top: 0px;
}

.comment-disabled{
  background-color: lightsalmon;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #aeaeae;
  color: #777;
}

.footer a:hover {
  color: #222;
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}